body {
	margin: 0;
	font-family: "Lato", sans-serif;
	background: #ebeced;
	color: #000000;
	padding: 30px;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 0 0 40px 0;
}

.search-form {
	width: 30%;
}

.search-form__label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.search-form__input {
	border: none;
	flex-grow: 1;
	background: rgb(253, 253, 254);
	border-radius: 10px;
	padding: 10px;
}

.header a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #000000;
}

.header img {
	margin-right: 10px;
}

.content {
	display: flex;
	justify-content: space-between;
	max-width: 1464px;
	margin: auto;
}

.aside {
	width: 25%;
}

.main-posts {
	flex-grow: 1;
	margin: 0 15px;
}

.user-profile li a,
.trending-news__list li a {
	display: flex;
	align-items: center;
	margin: 0 0 50px 0;
	color: #000000;
	text-decoration: none;
}

.user-profile li a:hover,
.header a:hover,
.trending-news__list li a:hover {
	color: rgb(46, 97, 228);
	transition: all ease 0.3s;
}

.user-profile li img,
.trending-news__list li img,
.like-icon img {
	margin: 0 10px 0 0;
}

.post {
	background: rgb(227, 225, 225);
	border-radius: 10px;
	margin: 0 0 40px 0;
}

.post-title-input {
	display: block;
	border: none;
	width: 100%;
	box-sizing: border-box;
	border-radius: 10px 10px 0 0;
	background: #7d8287;
	padding: 20px;
	font-size: 20px;
}

.post-title-input::placeholder {
	color: white;
}

.post-field-container {
	padding: 20px;
}

.post-field {
	display: flex;
	align-items: flex-start;
}

.post-field textarea {
	flex-grow: 1;
	margin: 10px;
	border: none;
	font-family: "Lato", sans-serif;
	color: rgb(75, 73, 73);
	background: transparent;
}

.post-submit-btn {
	display: block;
	margin-left: auto;
	border-radius: 10px;
	border: none;
	padding: 10px 20px;
	background: #01579b;
	color: white;
	cursor: pointer;
}

.post-article {
	padding: 20px;
}

.post-article__title {
	display: flex;
	align-items: center;
	margin: 0 0 15px 0;
}

.post-article__user {
	margin: 0 10px 0 0;
}

.post-article__image {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.like-icon {
	cursor: pointer;
	margin: 0 0 20px 0;
}

.like-icon:hover {
	color: rgb(46, 97, 228);
	transition: all ease 0.3s;
}
.post-article__comment {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post-article__comment-input {
	flex-grow: 1;
	margin: 0 5px;
	border: none;
	border-radius: 5px;
	padding: 10px;
}

.like-icon {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #000000;
}

.post-photo,
.see-more {
	cursor: pointer;
}

.news {
	display: flex;
	align-items: flex-start;
	margin: 0 0 60px 0;
}

.news__text {
	padding: 20px 0 0 15px;
}

.trending-news {
	margin: 0 0 50px 0;
}

.news-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px 10px 0 0;
	background: #7d8287;
	padding: 10px;
	color: white;
	margin: 0 0 40px 0;
	font-size: 18px;
}

.sponsor-image {
	width: 100%;
}
